<form>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Encerrar a consulta</h5>
            <p class="card-text">Você deseja remarcar ou finalizar a consulta?</p>
            <button  asp-controller="Medicos"  asp-action="Remarcar" class="btn btn-primary">Remarcar</button>
            <button  asp-controller="Medicos"  asp-action="Finalizar" class="btn btn-danger">Finalizar</button>
        </div>
    </div>
</form>