@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a) ao Consultorio Bem Estar</h1>
    <p>Aqui você pode agendar suas consulta e visualizar os resutados das suas consultas</p>
    <div class="form-group">
        <input type="submit" asp-controller="Login" asp-action="Index" value="Logar" class="btn btn-primary" />
    </div>
</div>
