@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo médico(a)</h1>
    <p>Tenha um ótimo dia de trabalho :)</p>
    <div class="form-group">
        <input type="submit" value="Logar" class="btn btn-primary" />
    </div>
</div>
